@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dealership provides the best quality second hand cars in the business.</p>
    <p>Please Register/Login in order to use our app.</p>
</div>
